{% extends 'home.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section class="center-box">
    <h1>Register</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}

        <button type="submit" class="btn btn-primary">Register</button>
        <p>Already have an account? <a href="{{ path('app_login') }}">Login</a></p>
    {{ form_end(form) }}
    </section>
{% endblock %}