{% if card %}
    <div class="card card-style-default">

        <p class="card_title">
            {{ card.getCardTitle() }}
        </p>
        <p class="card_subtitle">
            {{ card.getCardSubtitle() }}
        </p>
        <p class="card_body">
            {{ card.getCardBody() }}
        </p>
        <div class="card_image">
            {% if card.getCardImage() %}
                
                <img src="{{ card.getCardImage() }}" alt="Card image not found">
            {% endif %}
        </div>
        <nav class="card_actions">
            {% if editable is defined and editable %}
            <a class="nav__link round" href="{{ path('app_card_edit', { id: card.id }) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            {% endif %}
            <a class="nav__link round" href="{{ path('app_card_add_to_cart', { id: card.id }) }}">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </div>
{% endif %}
        