{% set account_link = app.user ? path('app_user_account') : path('app_login') %}
{% set account_icon = app.user ? 'fa-solid fa-user' : 'fa-solid fa-right-to-bracket' %}


<header class="header">
    <a class="logo" href="{{ path('home') }}">
        Card Factory
    </a>
    <nav class="nav nav__bar navbar-main">
        <a class="nav__link" href="{{ path('app_card_list') }}">
            Edit cards
        </a>
        <a class="nav__link" href="{{ path('home') }}">
            My orders
        </a>
    </nav>
    <div class="nav nav__bar navbar-account">
        <a class="nav__link round navlink-cart" href="{{ path('home') }}">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a class="nav__link round navlink-account" href="{{ account_link }}">
            <i class="{{account_icon}}"></i>
        </a>
    </a>
</header>