{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
    {{ parent() }}
{% endblock %}

{% block title %}
    My Cart
{% endblock %}

{% block content %}
<section>
        <div class="columns columns-2">
        <div class="section center-box">
            <h2>My Cart</h2>
            {% if form.orderItems is not empty %}
                {{ form_start(form) }}
                <table class="table table-striped cart-table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderItemForm in form.orderItems %}
                            {% set orderItem = orderItemForm.vars.value %}
                            <tr>
                                <td>
                                    {{ orderItem.label }}
                                </td>
                                <td>
                                    {{ form_widget(orderItemForm.quantity, { 'attr': { 'class': 'table-span' } }) }}
                                </td>
                                <td>
                                    ${{ orderItem.price|number_format(2, '.', '') }}
                                </td>
                                <td>
                                    ${{ orderItem.getTotalPrice()|number_format(2, '.', '') }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3">Total</td>
                            <td>
                                ${{order.getTotalPrice()|number_format(2, '.', '')}}
                            </td>
                    </tbody>
                </table>
                <div class="form-actions">                
                    <a class="button danger" href="{{ path('app_cart_reset') }}">Reset Cart</a>
                    <button type="submit" class="btn btn-primary">Update Cart</button>
                </div>
                {{ form_end(form) }}
            {% else %}
                <p>Your cart is empty.</p>
                <p>You can add items to your cart from your <a href="{{ path('app_card_list') }}">card page</a>.</p>
            {% endif %}
        </div>
        <div class="section center-box">
            <h2>Shipping Address</h2>
            {% if user.address %}
                <p><strong>First Name:</strong> {{ user.address.firstName }}</p>
                <p><strong>Last Name:</strong> {{ user.address.lastName }}</p>
                <p><strong>Country:</strong> {{ user.address.country }}</p>
                {% if user.address.state %}
                    <p><strong>State:</strong> {{ user.address.state }}</p>
                {% endif %}
                <p><strong>City:</strong> {{ user.address.city }}</p>
                <p><strong>Zip Code:</strong> {{ user.address.postal }}</p>
                <p><strong>Street:</strong> <br> {{ user.address.addressLine1 }}
                {% if user.address.addressLine2 %}
                    <br> {{ user.address.addressLine2 }}
                {% endif %}
                {% if user.address.addressLine3 %}
                    <br> {{ user.address.addressLine3 }}
                {% endif %}
                </p>
                {% if user.address.additionalInformation %}
                    <p><strong>Additional Info:</strong> {{ user.address.additionalInformation }}</p>
                {% endif %}
                <a class="button" href="{{ path('app_user_account_edit') }}">Edit Address</a>
            {% else %}
                <p>You need an address to proceed to checkout.</p>
                <a class="button" href="{{ path('app_user_account_edit') }}">Set Address</a>
            {% endif %}
        </div>
        <a class="button success" href="{{ path('app_checkout') }}">Checkout</a>
    </div>
</section>
        
{% endblock %}